.about {
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
}

.about-nav {
  position: fixed;
  width: 75vw;
  background: rgb(4, 5, 52);
  background: linear-gradient(90deg, rgba(8, 9, 57, 1) 0%, rgba(22, 22, 72, 1) 100%);
  margin-left: -1em;
  z-index: 1;
  animation: slideInDown 2s ease-in-out;
}

.about-nav-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.about-nav-list > li {
  cursor: pointer;
  list-style: none;
  text-align: center;
  margin: .5em;
}

.about-nav-list>li:hover {
  color: steelblue;

}

.about-body {
  width: 80%;
  margin: auto;
}

.about-header {
  font-size: 2.5em;
  margin-top: 2em;
  animation: fadeIn 2s ease-in-out;
}

.about-text {
  max-width: 70%;
  margin: auto;
  margin-bottom: 2em;
  animation: fadeInRight 1s ease-in-out;
}

.about-section {
  min-height: 80vh;
  margin-bottom: 3em;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.img {
  width: 70%;
}

.headshot {
  min-width: 200px;
  width: 25%;
  border-radius: 50%;
}

caption {
  font-size: .7em;
  width: 70%;
}