.about {
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
}

.about-nav {
  position: fixed;
  width: 75vw;

  z-index: 1;
}

.about-nav-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.about-nav-list > li {
  cursor: pointer;
  list-style: none;
  margin: 1em;
  font-size: 1em;
}

.about-nav-list>li:hover {
  color: steelblue;

}

.about-body {
  width: 80%;
  margin: auto;
  margin-top: 5em;

}

.about-header {
  font-size: 3em;
}

.about-section {
  height: 95vh;
}