.about {
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
}

.about-nav {
  position: fixed;
  width: 75vw;
  background-color: rgb(37, 70, 97);
  filter: drop-shadow(0 0 1em black);
  z-index: 1;
}

.about-nav-list {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.about-nav-list > li {
  cursor: pointer;
  list-style: none;
  margin: 1em;
  font-size: .7em;
}

.about-nav-list>li:hover {
  color: #33233D;
}

.about-body {
  width: 80%;
  margin: auto;
  margin-top: 5em;

}