.home {
  margin-top: 3em;
  overflow: visible;
  animation: fadeIn 1s ease-in-out;
}

.tagline {
  flex: 0 1 auto;
  width: 80%;
  margin: auto;
  font-size: 1.5em;
  font-weight: normal;
}

.strong {
  color: #0069E2;
}

.sky {
  flex: 1 1 auto;
  position: relative;
  margin-top: 3em;
  /* height: 75vh; */
  border: white solid;
  z-index: 1;
}

.sun {
  position: absolute;
  height: 50vw;
  width: 50vw;
  margin: auto;
  fill: whitesmoke;
}

.cloud {
  position: absolute;
  width: 35vw;
  height: 25vh;
  margin: auto;
  fill: whitesmoke;
}

.cloud-1 {
  left: -20vw;
  top: 10vh;
  opacity: 60%;
  animation: shake 120s 1s infinite;
  border: chocolate solid;
}
.cloud-2 {
  left: 10vw;
  top: -3vh;
  opacity: 60%;
  animation: shake 120s 2s infinite;
}
.cloud-3 {
  left: -15vw;
  bottom: 20vh;
  opacity: 95%;
  animation: shake 60s 3s infinite;
  fill: black;
}
.cloud-4 {
  right: 15vw;
  bottom: 0vh;
  opacity: 95%;
  animation: shake 60s 4s infinite;
  fill: black;
}
.cloud-5 {
  right: 0vw;
  top: 25vh;
  opacity: 95%;
  animation: shake 60s 4s infinite;
  fill: black;
}

.about-link {
  color: white;
}

.about-link:hover {
  color: firebrick
}