.home {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  overflow: visible;
  animation: fadeIn 1s ease-in-out;
}

.tagline {
  flex: 0 1 auto;
  width: 80%;
  margin: auto;
  font-size: 1.5em;
  font-weight: normal;
}

.strong {
  color: #0069E2;
}

.sky {
  position: relative;
  flex: 1 1 auto;
  margin-top: 5em;
}

.sky-center {
  position: absolute;
  left: 25vw;
  width: max-content;
  height: max-content;
}

.rays {
  width: 100vw;
  height: 100vw;
  margin-left: -25vw;
  margin-top: -25vw;
  fill: white;
}

.sun {
  height: 50vw;
  width: 50vw;
  margin: auto;
  fill: whitesmoke;
  animation: slideInRight 1s ease-out;
}

.cloud {
  position: absolute;
  width: 70%;
  height: 70%;
  fill: whitesmoke;
}

.cloud-1 {
  left: -50%;
  opacity: 60%;
  animation: shake 90s 2s infinite, slideInRight 2s;
}
.cloud-2 {
  left: -10%;
  top: -30%;
  opacity: 60%;
  animation: shake 85s 2.5s infinite, slideInRight 2.5s;
}
.cloud-3 {
  left: -40%;
  bottom: -10%;
  opacity: 95%;
  animation: shake 60s 2.2s infinite, slideInRight 2.2s;
  fill: #041122;
}
.cloud-4 {
  right: 0;
  bottom: -20%;
  opacity: 95%;
  animation: shake 60s 2.7s infinite, slideInRight 2.7s;
  fill: #041122;

}
.cloud-5 {
  right: -25%;
  top: -5%;
  opacity: 95%;
  animation: shake 60s 3s infinite, slideInRight 3s;
  fill: #041122;

}

.about-link {
  color: white;
}

.about-link:hover {
  color: firebrick
}