.projects {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: auto;
  overflow: scroll;
  animation: fadeIn 2s ease-in-out;
}

.project-item {
  height: 100vh;
  width: 80%;
  padding: 1em;
  margin: auto;
  margin: 2em auto;
}

.proj-img {
  width: 100%;
}

.table > div {
  margin-top: 1.5em;
}

.project-links {
  text-align: center;
}

a {
  color: steelblue;
}

a:visited {
  color: firebrick;
}