.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  min-width: fit-content;
  width: 25vw;
  background: none;
  /* background: rgb(6, 32, 65);
  background: radial-gradient(circle, rgba(6, 32, 65, 1) 0%, rgba(2, 11, 22, 1) 100%); */
}

.name {
  margin-top: 1em;
  animation: fadeInDown 1s ease-in-out;
}

.job {
  animation: fadeInDown 1s ease-in-out;
}

.name, .job {
  text-align: center;
}

.sidebar-list {
  margin-top: 1em;
  animation: fadeInLeft 1.5s ease-in-out;
  z-index: 100;
}

.sidebar-list-item {
  display: block;
  margin: 1rem;

}

.sidebar-list-item:hover {
  cursor: pointer;
  color: #EF4754;
}

.active {
  cursor: initial;
  color: #EF4754;
}

.links {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
  z-index: 100;
  animation: fadeInUp 2s ease-in-out;
}

.link {
  margin: .5em;
  height: 1em;
  width: 1em;
  fill: white;
}

.link:hover {
  fill: steelblue;
}