.skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 70%;
  margin: 5em;
  padding: 1em;
  overflow: scroll;
}

svg {
  height: 80px;
  width: 80px;
  margin: 15px;
}