.skills {
  flex-wrap: wrap;
  width: 70%;
  margin: 5em;
  padding: 1em;
  background-color: #233D33;
  border-radius: 1em;
  overflow: scroll;
  filter: drop-shadow(0 0 .5em black);
}

svg {
  height: 80px;
  width: 80px;
  margin: 15px;
}